<% provide(:title, "Sign In") %>
<h1> Sign In </h1>
<div id= "signin">
<%= form_for(:session, url: sessions_path) do |f| %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
<% end %>
<p> New user? <%= link_to "Sign up now", signup_path %> </p>
</div>
<style>
     h1 {
     	font-family: Myriad Pro;
     	text-align: center;
     }
     #signin {
     	text-align: center;
     	padding: 25px 25px 25px 25px;
     }
</style>