<% provide(:title, 'Sign Up') %>
<head>
     <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
     <style>
      .ribbon {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
      </style>
</head>
<h1>Sign Up</h1>
<p>Don't have an account? Sign Up today!</p>
<div class = "ribbon">
<div class = "row">
	<div class = "span6">
		<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class = "name">
		<%= f.label :name %>
		<%= f.text_field :name %>
		</div>
		<div class = "email">
		<%= f.label :email %>
		<%= f.text_field :email %>
		</div>
		<div class = "password">
		<%= f.label :password %>
		<%= f.password_field :password %>
		</div>
		<div class = "passwordconfirmation">
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>
		</div>
		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
</div>

<style>
p {
	text-align: center;
}
h1 {
	text-align: center;
	font-weight: bold;
	font-family: Myriad Pro;
}
.span6 {
	text-align: center;
	vertical-align: middle;
	height: 100%;
	position: relative;
	overflow: hidden;
    z-index: 10;
    padding: 25px 25px 25px 25px;
}
.row {
	vertical-align: inherit;
	height: 100%;
	width: 100%;
	border: 1px solid black;
}
.name {
	padding: 10px 10px 10px 10px;
	font-size: 2em;
}
.email {
	padding: 10px 10px 10px 10px;
	font-size: 2em;
}
.password {
	padding: 10px 10px 10px 10px;
	font-size: 2em;
}
.passwordconfirmation {
	padding: 10px 10px 10px 10px;
	padding-bottom: 20px;
	font-size: 2em;
}
.btn btn-large btn-primary {
	font-size: 2em;
}
.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;
    
 position: relative;
 background: #FFA366;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 3em auto 4em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #FFA366 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

