<%= provide(:title, @user.name) %>
<% unless current_user?(@user) %>
<div class = "link">
<%= link_to "Back to Profile", current_user %>
</div>
<% end %>
<div id = "everything">
	<section>
  <div id = "userinfo">
<%= gravatar_for @user %> <br />
</div>
<%= @user.name %> <br />
</section>
</div>
 <section class = "followingandfollowers">
   <% @user ||= current_user %>
 <a href = "<%= following_user_path(@user) %>" />

      <strong id = "following"> Following <%= @user.following.count %> user(s) </strong>

      <br />
      <a href = "<%= followers_user_path(@user) %>">
   <strong id = "followers"> <%= @user.followers.count %> followers </strong>
 </a>
 </section> 
<%= render 'shared/follow_form' if signed_in? %>
<br />
<div class = "microposts">
<% if @user.microposts.any? %>
 <h3>Posts (<%= @user.microposts.count %>)</h3>
      <ol class="micropost">
        <%= render @microposts %>
        <!-- <%= @microposts.each do %>
        <%= link_to "Comment", micropost_path(params[:id]) %>
        <% end %> -->
      </ol>
      <%= will_paginate @microposts %>
    <% end %>

</div>
</section>
<style>
    #everything {
    	font-family: Myriad Pro;
    	font-size: 3em;
    	text-align: center;
    	font-style: bold;
    }
    .microposts {
      font-size: 15;
      font-family: Myriad Pro;
    }
    h3 {
      text-align: center;
    }
    .micropost {
      margin-right: 400px;
      margin-left: 400px;
      background: white;
    border: 2px solid black;
    }
    .followingandfollowers {
      text-align: center;
      font-family: Myriad Pro;
      font-size: 2em;
      background-color: white;
      border: 1px solid black;
      margin-left: 400px;
      margin-right: 400px;
    }
    #userinfo {

    }
    .link {
      background-color: white;
      margin-right: 1100px;
      padding: 10px 10px 10px 10px;
      border-radius: 20px;
      border: 0.5px solid black;
      font-family: Myriad Pro;
    }
</style>
